@keyframes showToasty {
	0%  {right: -500px;}
	40% {right: 0px;}
	60% {right: 0px;}
	100% {right: -500px;}
}

html, body {
    background: rgba(0, 0, 0, 0);
    height: 95vh;
    width: 95vw;
    resize: none;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.toasty {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: none;
}

.show-dan {
    display: initial;
    animation-name: showToasty;
    animation-duration: 2s;
    animation-iteration-count: 1;
}